@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: #2874f0;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    /* padding-bottom:20px ; */

}

.cont {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.flip {
    width: 80px;
    display: block;
}

.logo {
    display: flex;
    justify-content: flex-end;
    min-width: 137px;
}

.ll {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp {
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
    text-decoration: none;
    color: #fff;
}

.exp span {
    color: #ffe500;
    font-weight: 700;
    margin-right: 2px;
}

.plus {
    width: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.search {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin: 0 10px;
    min-width: 304px;
    align-items: center;
}

.form {
    display: inline-block;
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}

.S {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-box input {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    outline: 0 none;
    width: 100%;
}

.S button {
    border: 1px solid white;
    background-color: white;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
    outline: none;
}

.login {
    display: flex;
    min-width: 112px;
    align-items: center;
    max-width: 150px;
    margin: 0 20px;
    justify-content: flex-end;
    flex: 0 0 auto;
    overflow: hidden;
}

.log {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
}

.l {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.l a {
    color: #2874f0;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
}

.seller {
    display: flex;
    justify-content: flex-end;
    margin: 0 18px;
    max-width: 160px;
}

.seller a {
    line-height: 20px;
    font-size: 13px;
    letter-spacing: .1px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    text-decoration: none;
    border: none;
    outline: none;
}

.seller a span {
    color: #fff;
}

.more {
    display: flex;
    max-width: 150px;
    justify-content: flex-end;
    margin: 0 20px;
    flex: 0 0 auto;
}

.mmm {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .1px;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.mm {
    display: inline-block;
    position: relative;
}

.m {
    overflow: hidden;
    white-space: nowrap;
    max-width: 108px;
    display: block;
    text-overflow: ellipsis;
    color: #fff;
}

.drop {
    transform: rotate(270deg);
    margin: 1px 0 0 8px;
}

.cart {
    display: flex;
    max-width: 150px;
    margin: 0 20px;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.cc {
    display: inline-block;
    position: relative;
}

.c {
    height: 100%;
    width: 100%;
    display: flex;
}

.c a {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: .1px;
    font-weight: 700;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.c span {
    color: #fff;
}

.ic {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.top-contents {
    width: 100%;
    min-height: 115px;
    display: flex;
    background-color: #fff;
    /* margin-top: 20px; */
    padding-top: 35px;
}

.top {
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: 130px;
    /* padding-top: 32px; */
}

.el {
    display: flex;
    flex-direction: row;
    position: sticky;
    width: 100%;
    max-width: 1280px;
    color: #212121;
    justify-content: space-between;
}

.elements:first-child {
    padding-left: 20px;
}

.elements {
    padding: 12px 8px;
}

.mid {
    margin-bottom: 4px;
}

.img {
    height: 64px;
    width: 64px;
    position: relative;
    margin: 0 auto;
}

.a {
    position: absolute;
    height: 64px;
    width: 64px;
}

.txt {
    font-size: 14px;
    font-weight: 700;
}

.ic1 {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    color: #333;
}

.slides {
    width: 100%;
    display: flex;
    height: 280px;
    align-items: flex-start;
    padding: 0 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slide {
    width: 100%;
    height: 280px;
    /* position: absolute; */
    overflow-y: hidden;
}

.img1 {
    width: 100%;
    height: 280px;
}

.left-button {
    align-items: center;
    font-size: 50px;
    width: 47px;
    height: 104px;
    border-top-right-radius: 5px solid white;
    border-bottom-right-radius: 5px solid white;
    z-index: 2;
    position: absolute;

}

.right-button {
    width: 47px;
    height: 104px;
    font-size: 50px;
    border-top-left-radius: 5px solid white;
    border-bottom-left-radius: 5px solid white;
    z-index: 2;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.electronic {
    display: flex;
    width: 100%;
    height: 380px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.elecButtonImage {
    height: 90%;
    width: 230px;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90");
    background-position: 0px bottom;
    background-repeat: no-repeat;
}

.BOE {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px 10px 50px;
}

.BOE h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.38;
}

.view1 {
    margin-top: 24px;
    display: flex;
    justify-content: center;

}

.view1 a {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    /* align-items: center; */
    cursor: pointer;
}

.itemsE {
    width: calc(100% - 180px);
    height: 342px;
    /* background-color: #ffe500; */
    overflow: hidden;
}

.itemsE1 {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
}

.Eitems {
    width: 210px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-left: 2px solid rgba(0, 0, 0, .2);
}

.Eanch {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center;
}

.Eimg {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;

}

.Eimg img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.Elastdiv {
    padding-top: 7px;
    opacity: .6;
}

.Efirstdiv {
    font-weight: 500;
    padding-top: 7px;
}

.Esecdiv {
    font-weight: 700;
    padding-top: 7px;
    color: black;
}

.Eright-button {
    width: 47px;
    height: 104px;
    font-size: 30px;
    border-top-left-radius: 5px solid white;
    border-bottom-left-radius: 5px solid white;
    z-index: 2;
    position: absolute;
    top: 90px;
    right: 0;
    margin-right: 10px;
}

.toys {
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
}
.toy-top{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.TT-head{
    width: 100%;
    height: 28px;
    font-size: 20px;
    font-weight: 800 ;
    line-height: 20px;
}

.itemsT {
    width: auto;
    background-color: #2874f0;
}