@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: #2874f0;
    height: 50px;
    display: flex;
    justify-content: center;
    /* position:fixed; */

}

.cont {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.flip {
    width: 80px;
    display: block;
}

.logo {
    display: flex;
    justify-content: flex-end;
    min-width: 137px;
}

.ll {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp {
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
    text-decoration: none;
    color: #fff;
}

.exp span {
    color: #ffe500;
    font-weight: 700;
    margin-right: 2px;
}

.plus {
    width: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.search {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin: 0 10px;
    min-width: 304px;
    align-items: center;
}

.form {
    display: inline-block;
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}

.S {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-box input {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    outline: 0 none;
    width: 100%;
}

.S button {
    border: 1px solid white;
    background-color: white;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
    outline: none;
}

.login {
    display: flex;
    min-width: 112px;
    align-items: center;
    max-width: 150px;
    margin: 0 20px;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.log {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
}

.l {
    display: inline-block;
    position: relative;
}

.l a {
    color: #2874f0;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
}

.seller {
    display: flex;
    justify-content: flex-end;
    margin: 0 18px;
    max-width: 160px;
}

.seller a {
    line-height: 20px;
    font-size: 13px;
    letter-spacing: .1px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    text-decoration: none;
    border: none;
    outline: none;
}

.seller a span {
    color: #fff;
}

.more {
    display: flex;
    max-width: 150px;
    justify-content: flex-end;
    margin: 0 20px;
    flex: 0 0 auto;
}

.mmm {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .1px;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.mm {
    display: inline-block;
    position: relative;
}

.m {
    overflow: hidden;
    white-space: nowrap;
    max-width: 108px;
    display: block;
    text-overflow: ellipsis;
    color: #fff;
}

.drop {
    transform: rotate(270deg);
    margin: 1px 0 0 8px;
}

.cart {
    display: flex;
    max-width: 150px;
    margin: 0 20px;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.cc {
    display: inline-block;
    position: relative;
}

.c {
    height: 100%;
    width: 100%;
    display: flex;
}

.c a {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: .1px;
    font-weight: 700;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.c span {
    color: #fff;
}

.ic {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.top-contents {
    width: 100%;
    min-height: 115px;
    display: flex;
    background-color: #fff;
}

.top {
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: 130px;
}

.el {
    display: flex;
    flex-direction: row;
    position: sticky;
    width: 100%;
    max-width: 1280px;
    color: #212121;
    justify-content: space-between;
}

.elements:first-child {
    padding-left: 20px;
}

.elements {
    padding: 12px 8px;
}

.mid {
    margin-bottom: 4px;
}

.img {
    height: 64px;
    width: 64px;
    position: relative;
    margin: 0 auto;
}

.a {
    position: absolute;
    height: 64px;
    width: 64px;
}

.txt {
    font-size: 14px;
    font-weight: 700;
}

.ic1 {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    color: #333;
}

.slides {
    width: 100%;
    display: flex;
    height: 280px;
    align-items: flex-start;
    padding: 0 10px;
}

.slide {
    width: 100%;
    height: 280px;
}

.img1 {
    width: 100%;
    height: 280px;
}

.left {
    width: 47px;
    height: 104px;
    background-color: #2874f0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 240px;
    /* left: 0; */
}

.right {
    width: 47px;
    height: 104px;
    background-color: #2874f0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.l-greater {
    margin-top: 38px;
}